<html>
  <body>
    <title>Cancel</title>
    </head>
    <body>
    <div class="h1" style="text-align: center;">    
      <div class="card-header"><h3>Cancel Transaction</h3></div>
      <div class="card-body text-success" style="margin-top: 50px;">
        <h4 class="card-title">Account Holder Name: {{accountholderName}}</h4>
        <p class="card-text" style="font-size: 22px;">Account Number: {{accountNumber}}</p>
        <p class="card-text" style="font-size: 22px;">Total Amount: {{totalAmount}}</p>
      </div>   
    </div>
    <a class="btn btn-danger" href="/cancelTrans" role="button" style="margin-left: 600px;">
    updation cancelled</a>
</body>
</html>

