  <html>
    <head>
      <title>Your Cart</title>
    </head>
    <body>
     <div class="h1" style="text-align: center;">    
      <div class="card-header"><h3>Your Cart</h3></div>
       <div class="card-body text-success" style="margin-top: 50px;background-color:burlywood">
        <p class="card-text" style="font-size: 22px; color:firebrick">{{websiteName}}</p>
        <p class="card-text" style="font-size: 20px;">{{listItems}}</p>
          <p style="color: darkviolet; font-size:20px">
             1.Titan Watch <br>
             2.Chips <br>
             3.Gowns <br>
          </p>
             <a class="btn btn-danger" href="/" role="button">Your Cart</a>

       </div>   
     </div>
    </body>
  </html>
